---
layout: default
---

<div class="tabs">
  <input type="radio" name="main-tab" id="tab-about" checked>
  <input type="radio" name="main-tab" id="tab-research">
  <input type="radio" name="main-tab" id="tab-experience">

  <nav class="tab-nav">
    <label for="tab-about">About</label>
    <label for="tab-research">Publications</label>
    <label for="tab-experience">Experience</label>
  </nav>

  <div class="tab-panels">

    <div class="tab-panel panel-about">
      {% include career-profile.html %}
      {% include news.html %}
    </div><!--//panel-about-->

    <div class="tab-panel panel-research">
      {% include publications.html %}
    </div><!--//panel-research-->

    <div class="tab-panel panel-experience">
      {% unless site.data.data.sidebar.education %}
        {% include education.html %}
      {% endunless %}
      {% include educationcomplete.html %}
      {% include experiences.html %}
    </div><!--//panel-experience-->

  </div><!--//tab-panels-->
</div><!--//tabs-->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-98375828-1', 'auto');
  ga('send', 'pageview');
</script>
