{% assign career-profile = site.data.data.career-profile %}
{% if career-profile %}
<section class="section summary-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-user fa-stack-1x fa-inverse"></i>
    </span>
    {{ career-profile.title }}
  </h2>

  <div class="summary">
    {{ career-profile.summary | markdownify }}
    <!-- <b>A detailed list of publications can be found <a href="https://bbrattoli.github.io/publications/">here</a>.</b> -->
    I am a master student in Harbin Institute of Technology where I got my Bachelor degree too. My bachelor thesis is about optimally solving Dec-POMDPs through planning and supervisored by <a href="http://perso.citi-lab.fr/jdibangoy/#/">Prof. Dibangoye</a>.
    My research interests lie in <b> Reinforcement Learning, particularly in Multi-Agent RL.<b> <br>
    <a>I am currently seeking a job opportunity about</a> <b>AI, RL and Multi-Agent RL.</b>
  </div><!--//summary-->

</section><!--//section-->
{% endif %}
